@charset "UTF-8";
/*==============================================================================

 Header Components SCSS.

==============================================================================*/
.components-header {
  width: 100%;
  height: 25vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  @include isLargeMobile {}

  .letter {
    font-size: 2.4em;
    font-weight: lighter;
    text-align: center;

    @include isLargeMobile {}

  }

}